// z-index

//  1 - for basical element
//  5 - for upper element
// 10 - for next level
// 50 - for modal  

// FONT

$inter: "Inter", sans-serif;

// COLOR

$text-color-purple: #441961;
$text-color-purple-active: #5b1788;
$text-color-gold: #FFB700;
$text-color-white: #FFF;
$text-color-grey: grey;
$text-color-error: red;

$border-white-grey: #B1B9C3;

$background-color-purple: #441961;
$background-color-purple-hovered: #5b1788;
$background-color-white: #FFF;
$background-color-grey: grey;
$background-color-white-grey: rgb(187, 187, 187);
